.Balance_container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Balance-Eye {
    width: 2em;  /* Kích thước bằng với chiều cao của chữ */
    height: 2em; /* Kích thước bằng với chiều cao của chữ */
    margin-left: 2em; /* Khoảng cách giữa icon và chữ */
    object-fit: contain; /* Đảm bảo hình ảnh vừa khít trong kích thước đã định */
    cursor: pointer; /* Biến con trỏ thành hình bàn tay khi di chuột qua */
}



.Balance-number {
    line-height: 100%;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: normal;
    font-size: 2rem; /* Điều chỉnh kích thước chữ theo ý muốn */
    text-align: center;
    color: var(--Primary600);
}
.Balance-hidden {
    font-family: monospace; /* Sử dụng font chữ cố định chiều rộng */
    font-size: 2.5rem; /* Điều chỉnh kích thước chữ theo ý muốn */
}