@import url("/src/assets/style/base.css");

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    font-size: 1.6rem;
}

.header {
    position: relative;
    background: white;
    height: 100px;
    width: 100%;
}
.header-content {
    position: absolute;
    height: 100%;
    width: 100%;
}
.searchBar--position {
    position: absolute;
    top: 15%;
    margin-left: 16px;
}

.content-container {
    width: 100%;
    top: 0;
}

.content {
    width: 100%;
    height: 100%;
    padding: 0 2rem 0 2rem;
    background: white;
}

.screen-name {
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    font-weight: 150;
    color: #858d9dff;
}
