@import url('/src/assets/style/base.css');

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    font-size: 1.6rem;
}

.header{
    position: relative;
    background: white;
    height: 10rem;
    width: 100%;
}
.header-content{
    position: absolute;
    top : 50%;
    transform: translateY(-50%);
}

.content-container {
    width: 100%;
}

.content {
    width: 100%;
    height: 100%;
    padding: 0 2rem 0 2rem ;
    background: white;
}

.screen-name {
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    font-weight: 150;
    color: #858D9DFF;
}