.modal-choose-room__container {
    margin-top: 8px;
    height: auto;
    display: flex;
    flex-direction: column;
    width: auto;
    border-radius: 8px;
    background-color: var(--Grey50);
}

.modal-choose-room__title {
    margin: 16px 0 8px 8px;
    font-weight: bold;
    font-size: 2rem;
}
