.TextArea-Content {
    width: 100%;
    height: 100%;
}
.TextArea-Content textarea {
    resize: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 8px;
    outline: none;
    padding: 8px 12px;
    font: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}
.TextArea-Content textarea:hover,
.TextArea-Content textarea:focus {
    border-color: var(--Primary600);
}

.TextArea-Content textarea::placeholder {
    opacity: 0.5;
}