.CH_PropertyPolicies-Container {
    margin-top: 25px;    
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
    position: relative;
}
.CH_PropertyPolicies-Header {
    font-size: 2rem;
    color: black;
    font-weight: bold;
    padding-bottom: 20px;
}
.CH_PropertyPolicies-Main {
    background-color: var(--white-color);
	padding: 10px;
    padding-bottom: 0;
	border-radius: 8px;
    font-size: 1.5rem;
    color: var(--Grey600);
}

.CH_PropertyPolicies-CheckinTime, .CH_PropertyPolicies-CheckoutTime {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.CH_PropertyPolicies-Content-Box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.3125rem;
    padding-top: 10px;
    padding-bottom: 10px;
}


.CH_PropertyPolicies-Divider {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.CH_PropertyPolicies-Property {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.CH_PropertyPolicies-Title {
    flex: 1;
    padding-top: 10px;
}
.CH_PropertyPolicies-Content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
}
.CH_PropertyPolicies-Content-Box {
    width: 80%;
}

.CH_PropertyPolicies-Content-Box-Address {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.3125rem;
    padding-top: 10px;
    padding-bottom: 10px;
}