.bettertextbox-input {
  padding: 8px 12px;
  font-size: inherit;
  font-family: inherit;
  border: 1px solid black;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
  height: 100%;
  width: 100%;
  color: inherit;
}
.bettertextbox-input:focus {
  border-color: dodgerblue;
}
.bettertextbox-input:hover{
  border-color: dodgerblue;
}
.bettertextbox-label {
  font-size: inherit;
  font-weight: medium;
  /* margin-bottom: 8px; */
  /* font-family: 'Plus Jakarta Sans', sans-serif; */
}
.bettertextbox-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* margin-bottom: 20px; */
  height: 100%;
}