.booking-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.booking-header {
    height: 76px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    background-color: var(--GreyHeader);
    align-items: center;
    padding: 8px;
}
.booking-type {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 40px;
}
.booking-link {
    text-decoration: none;
}

.booking-option {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.booking-option__button-filter-sort {
    width: 90px;
    color: var(--Grey600);
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin-right: 12px;
}
