.my-popup {
    width: auto;
    padding: 8px;
    border-radius: 8px;
}

.my-html-container {
    border-radius: 8px;
}

.my-actions {
    display: flex;
    justify-content: flex-end; /* Đẩy các nút về phía bên phải */
    width: 100%;
    font-size: 1.6rem;
    padding: 0 8px 8px 8px;
}

.swal2-styled.swal2-confirm.order-1 {
    order: 1; /* Đặt thứ tự cho nút xác nhận */
    background-color: var(--Primary500);
    width: auto;
    height: 40px;
    min-width: 80px;
    border-radius: 8px;
    margin-right: 12px;
}

.swal2-styled.swal2-cancel.order-2 {
    order: 2; /* Đặt thứ tự cho nút hủy */
    background-color: transparent;
    width: auto;
    height: 40px;
    min-width: 80px;
    border-radius: 8px;
    border: 1px solid var(--Grey400);
    color: var(--Grey400);
}
