.containerSearchBar {
    line-height: 2.4rem;
    font-size: 1.6rem;
}
.searchBar {
    height: 40px;
    width: 400px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #eef0f2;
    display: flex;
    align-items: center;
    position: relative;
}
.searchBar__input {
    background-color: #f7f9fc;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-left: 48px;
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
}
.searchBar__icon {
    height: 22px;
    width: 22px;
    margin-left: 16px;
    color: #858d9d;
    position: absolute;
}

.history {
    background-color: #f7f9fc;
    width: 400px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
    box-shadow: 0px 2px 4px var(--Grey200);
    margin-top: 10px;
    overflow: hidden;
    animation: openHistory ease 0.2s;
}
.history__title {
    font-weight: 550;
    height: 36px;
    width: 100%;
    text-align: start;
    padding: 8px 30px;
    box-sizing: border-box;
}
.history__list {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    max-height: 216px;
    box-sizing: border-box;
}
.history__item {
    text-align: start;
    display: flex;
    align-items: center;
    padding: 6px 0;
    box-sizing: border-box;
}

.history__icon {
    height: 24px;
    width: 24px;
    margin: 0px 4px 0px 16px;
}
.history__icon-delete {
    height: 18px;
    width: 18px;
    margin: 0px 8px;
    padding: 2px;
    border-radius: 11px;
    cursor: pointer;
}
.history__icon-delete:hover {
    background-color: var(--Grey300);
}
.history__item-text {
    margin: 0px 4px;
    flex: 1;
}
.searchBar__input--focus {
    border: 2px solid var(--Primary400);
}
.history__item:hover {
    background-color: var(--Grey100);
}

@keyframes openHistory {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
