
.feedback-container {
    display: flex;
    flex-direction: column;
    height: 281px;
    width: 40%;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    border-radius: 8px;
    background: #ffffff;

}
.feedback-header{
    color: var(--Grey800);
    font-family: "Plus Jakarta Sans", serif;
    font-weight: normal;
    font-size: 2em;
    margin: 20px 0 16px 16px;
}
.feedback-blocks{
    overflow-y: auto;
    scrollbar-width: none;
    margin: auto 16px 25px 16px;
    display: flex;
    flex-direction: column;
    gap: 23px;
    justify-content: space-between;
}