.modal-create-deal__container {
    margin-top: 8px;
    height: auto;
    width: 720px;
    display: flex;
    flex-direction: column;
}

.modal-create-deal-double {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.modal-create-deal_field {
    height: 80px;
    width: 310px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.modal-create-deal_des {
    width: 100%;
    margin-bottom: 16px;
}

.label-field {
    line-height: 2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.modal-create-deal__input {
    width: 100%;
    font-size: 1.4rem;
    margin-bottom: 8px;
}
