.CH_GeneralInformation-Container {
    margin-top: 25px;    
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
    position: relative;
}
.CH_GeneralInformation-Header {
    font-size: 2rem;
    color: black;
    font-weight: bold;
    padding-bottom: 20px;
}
.CH_GeneralInformation-Main {
    background-color: var(--white-color);
	padding: 10px;
	border-radius: 8px;
    font-size: 1.5rem;
    color: var(--Grey600);
}

/* Divider */
.CH_GeneralInformation-Divider {
    padding-left: 10px;
    padding-right: 10px;
}

/* Property Name */
.CH_GeneralInformation-PropertyName {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}
.CH_GeneralInformation-Title {
    flex: 1;
}
.CH_GeneralInformation-Content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
}
.CH_GeneralInformation-Content-Box {    
    width: 60%;
    height: 40px;
}

