.sidebar-container ul {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.sidebar {
	position: relative;
	width: 256px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: #fff;
	padding: 24px;
	/* border-radius: 30px; */
	transition: width 0.3s;
}
.sidebar .sidebar-head {
	display: none;
}
.sidebar .sidebar-head.active {
	display: flex;
	gap:10px;
	padding-bottom: 28px;
	justify-content: center;
	/* border-bottom: 3px solid #f6f6f6; */
}
.sidebar-logo-full {
	width: 200px;
	display: none;
}
.sidebar-logo-full.active {
	display: block;
}
.sidebar-logo-full img {
	width: 100%;
}
.sidebar-logo {
	width: 30px;
	display: none;
}
.sidebar-logo.active {
	display: block;
}
.sidebar-logo img{
	width: 100%;
}
/* .menu .title {
	font-size: 10px;
	font-weight: 500;
	color: var(--grey-600);
	text-transform: uppercase;
} */
.sidebar-menu ul li {
	position: relative;
	list-style: none;
	margin-bottom: 5px;
}
.sidebar-menu-btn {
	position: absolute;
	right: -14px;
	top: 50%;
	transform: translateY(-50%);
	width: 28px;
	height: 28px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: var(--Grey600);
	border: 2px solid var(--Primary50);
	background-color: #fff;
}
.sidebar-menu-btn:hover img {
	color: var(--Primary600);
}
.sidebar-menu-btn img {
	width: 16px;
	transition: all 0.3s;
}
.sidebar.active {
	width: 92px;
}
.sidebar.active .sidebar-menu-btn img {
	transform: rotate(180deg);
}