
.sidebar-tab {
    position: relative;
	list-style: none;
	margin-bottom: 5px;
}
.sidebar-tab a {
    display: flex;
	align-items: center;
	gap: 10px;
	font-size: 14px;
	font-weight: 500;
	color: var(--Grey600);
	text-decoration: none;
	padding: 12px 8px;
	border-radius: 8px;
	transition: all 0.3s;
}
.sidebar-tab a:hover,
.sidebar-tab.active a {
	color: var(--Primary600);
	background-color: var(--Primary50);
}
.sidebar-tab a img {
	width: 32px;
}
.sidebar-tab .sidebar-tab-text {
	flex: 1;
}

.sidebar-tab a .sidebar-tab-active-ico {
	display: none;
}
.sidebar-tab.active a .sidebar-tab-active-ico,
.sidebar-tab a:hover .sidebar-tab-active-ico {
	display: block;
}
.sidebar-tab a .sidebar-unactive-ico {
	display: block;
}
.sidebar-tab.active a .sidebar-tab-unactive-ico,
.sidebar-tab a:hover .sidebar-tab-unactive-ico {
	display: none;
}

.sidebar-tab.untoggle a {
    position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sidebar-tab.untoggle a .sidebar-tab-text {
    position: absolute;
	left: 70px;
	top: 50%;
	transform: translateY(-50%);
	padding: 10px;
	border-radius: 4px;
	color: #fff;
	background-color: #000;
	opacity: 0;
	visibility: hidden;
	/* transition: all 0.3s; */
}
.sidebar-tab.untoggle a .sidebar-tab-text::after {
    content: "";
	position: absolute;
	left: -5px;
	top: 20%;
	width: 20px;
	height: 20px;
	border-radius: 2px;
	background-color: #000;
	transform: rotate(45deg);
	z-index: -1;
}
.sidebar-tab.untoggle a:hover .sidebar-tab-text {
    left: 50px;
	opacity: 1;
	visibility: visible;
}