.button-choose-room {
    height: 44px;
    width: 60px;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
}

.button-active {
    background-color: var(--Primary500);
    color: white;
    cursor: pointer;
}

.button-selected {
    background-color: green;
    color: white;
}

.button-choose-room:disabled {
    background-color: white;
    color: var(--Grey500);
    border: 1px solid var(--Grey500);
}
