/* table.css */
table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th{
    padding: 8px;
    background: #f0f1f3;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

.clean td {
    color: #448df2;
    background: #e8f1fd;
    text-align: center;
    border-radius: 16px;
}

.dirty td {
    color: #f36960;
    background: #feeceb;
    text-align: center;
    border-radius: 16px;
}

.inspected td {
    color: #41c588;
    background: #e7f8f0;
    text-align: center;
    border-radius: 16px;
}

.pick-up td {
    color: #f9a63a;
    background: #fef4e6;
    text-align: center;
    border-radius: 16px;
}